<a href="https://colab.research.google.com/github/harrymarry1027/python/blob/main/%EC%8B%9C%ED%80%80%EC%8A%A4_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## 데이터는 증가할수록 관리가 어렵다. 따라서 하나의 변수에 여러개의 데이터를 저장할수 있어야 효휼적인 데이터 관리가 가능하다

#시퀀스 타입
-기본 타입(숫자, 문자열)을 여러개 모아서 하나의 자료형으로 관리하기 위한 방법
    -'배열'
    -한개 식빵 -> 숫자, 문자열이라면
    -시퀀스 타입 -> 식빵들 ... 자료구조의 종류
-파이선에서 제공하는 시퀀스 타입

 -리스트

-배열
    -가장 많이 사용하는 자료형입니다
    -선형자료구조 라고 부릅니다
-튜플(tuple)

    -리스트와 본질적으로 같아요. 
    -자료 값을 변경할 수가 없습니다.
-튜플로 만들면 - 내부의 자료값을 변하게 하지 않았게 라는 약속입니다.

-레인지

    -수열을 만든다
    -
    가변형 타입 vs 불가변형 타입

튜플 -> 불가변형 타입

자료들의 값을 바꿀 수 없고
리스트 -> 가변형 타입

자료들의 값을 변경할 수 있습니다.
가변형 타입에서만 사용할 수 있는 연산자가 띠로 있기 때문입니다.

세트
딕셔너리

# 리스트 

```
list = [a,b,c]
```

-성격이 같은 여러개의 데이터를 하나의 데이터 세트로 표현하는 방법을 데이터 세트
-데이터 세트안에서 구분은 ,(콤마)를 사용해서 구분한다. 
-데이터 세트 시작과 끝은 [...] 대괄호를 사용한다 

- 대괄호와 콤마를 사용해서 여러개의 데이터를 하나의 세트로 만드는 것을 리스트(list)라고 한다 
- 배열, 가장많이 사용하는 자료형
- 선형 자료구조 이다 

    - 변수에 리스트 데이터 저장하기 
        ``` 
        name_set = ["드링킹 요구르트","딸기 우유", "홈런공"]
        ```

In [ ]:
#리스트 구성하기

In [1]:
top3 = ['1순위','2순위','3순위']
movie_rank = ['닥터 스트레인지','스플릿','럭키']

In [3]:
top3

['1순위', '2순위', '3순위']

In [4]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

- 리스트 변수 

    - 리스트에서 각 항목은 '변수명[i]로 지정할수 있다
    - i를 리스트 변수의 인덱스(index)
    - ex) n 개의 항목이 있는 리스트 타입의 데이터 에서 인덱스 i의 범위는 0부터~'n-1'
    - 첫번째 요소 '변수명[0]', 두번째 요소 '변수명[1]','마지막 요소[-1] 지정 가능

In [5]:
top3[1]

'2순위'

In [6]:
top3[-1]

'3순위'

- 리스트 다루기 
    - 리스트 더하기 
    ```
    list_con1 = [1,2,3,4]
    list_con2 = [4,5,6,7]
    list-con = list_con1 + list_con2 -> 리스트 연결
    ```

    - 리스트 곱하기 
     ```
     list_con1 = [1,2,3,4]
     list-con = list_con1*3 -> 리스트 반복
     ```

In [7]:
ranking = movie_rank + top3
print(movie_rank+top3)

['닥터 스트레인지', '스플릿', '럭키', '1순위', '2순위', '3순위']

- 리스트 중 일부 항복 가져 오기 
```
리스트[i_start:i_end]
리스트[i_start:i_end:i_step]
```

    -i_start : 인덱스의 시작
    -i_end : 인덱스의 끝
    -I_step : 중간단계

In [9]:
list_date=[1,2,3,4,5,6,7,8,9,10]

list_date[3]

4

In [10]:
list_date[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list_date[::2]

[1, 3, 5, 7, 9]

In [12]:
list_date[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list_date[:2]

[1, 2]

In [14]:
list_date[1::2]

[2, 4, 6, 8, 10]

In [15]:
list_date[7:9]

[8, 9]

- 리스트에서 항목 삭제 하기 
```
del list[i]
```

In [16]:
del list_date[6]

In [17]:
list_date

[1, 2, 3, 4, 5, 6, 8, 9, 10]

- 리스트에서 항목의 존재 여부 확인하기 
```
항목 in list
리스트 항목이 있으면 True, 없으면 False반환
```

In [19]:
print(5 in list_date )

True

# 리스트 메서드 활용하기 
- 파이썬에서는 데이터 타입(자료형)별로 이용할 수 있는 다양한 함수를 제공하는데 이를 메서드라고 한다 

```
변수명.메스드 이름()
```

 - 리스트 메서드 
    - append():리스트에서 항목 하나를 맨 마지막에 추가 
    - insert(1,''):리스트에서 특정 위치에 항목을 삽입 
    - extend():리스트에서 항목 여러개를 맨 마지막에 추가 
    - remove():입력값과 첫번째로 일치하는 항목을 리스트에서 삭제
    - pop():리스트의 마지막 항목을 제거한 후 반환
    - count():리스트에서 인자와 일치하는 항목의 개수를 반환
    - sort():숫자나 문자열로 구성된 리스트 항목을 순방향으로 정렬
    - reverse(): 리스트 항목을 끝에서부터 역순으로 정렬

    - join 메서드 : 리스트의 문자열들을 합치는 역할 
    ```
    >>> str = "Hi my name is limcoing" 
    >>> splitted_str = str.split() 
    >>> print(splitted_str) 
    ['Hi', 'my', 'name', 'is', 'limcoing'] 

    >>> joined_str = "".join(splitted_str) 
    >>> print(joined_str) 
    Himynameislimcoing 
    ```

    - split()함수
    파이썬에서 문자열을 쪼개는 함수. 이 함수는 파라미터로 구분자를 주면 해당 구분자를 기준으로 문자열을 잘라 리스트 형식으로 반환. 파라미터에 아무것도 주지 않으면 공백을 기준으로 문자를 나눈다

In [22]:
list_date.count(1)

1

In [32]:
print(list_date.sort())

None

In [31]:
list_date=[1,2,3,4,5,6,7,8,9,10]

print(list_date.reverse())

None

In [ ]:
# 문제 풀이

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [33]:
movie_rank.append("배트맨")

In [34]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [36]:
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [40]:
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '배트맨']

In [47]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿']

In [49]:
lang1 = ["C", "C++", "JAVA"]

lang2 = ["Python", "Go", "C#"]

lagn = lang1+lang2
print(lagn)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [50]:
nums = [1, 2, 3, 4, 5, 6, 7]

# 최댓갑, 최솟값

print(nums[-1])
print(nums[0])

7
1

In [52]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max',max(nums))
print('min',min(nums))

max 7
min 1

In [53]:
# 리스트의 합을 구하라
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [54]:
# 저장된 데이터 개수
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [56]:
nums = [1, 2, 3, 4, 5]

a = sum(nums)

print(a/5)

3.0

In [57]:
nums = [1, 2, 3, 4, 5]

a=sum(nums)
b=len(nums)

print(a/b)

3.0

In [3]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [7]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [5]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[1::2]

[2, 4, 6, 8, 10]

In [18]:
nums = [1, 2, 3, 4, 5]

In [19]:
print(nums[::-1])

[5, 4, 3, 2, 1]

In [20]:
interest = ['삼성전자', 'LG전자', 'Naver']

del interest[1]

In [21]:
print(interest)

['삼성전자', 'Naver']

In [22]:
interest

['삼성전자', 'Naver']

In [25]:
print(interest[0],interest[1])

삼성전자 Naver

In [31]:
# join 메서드


interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest1 = " ".join(interest)

print(interest1)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [36]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest1 =" / ".join(interest)

print(interest1)

삼성전자 / LG전자 / Naver / SK하이닉스 / 미래에셋대우

In [37]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest1 ="\n".join(interest)

print(interest1)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [47]:
string = "삼성전자/LG전자/Naver"

string1= string.split("/")

print(string1)

['삼성전자', 'LG전자', 'Naver']

In [50]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

In [51]:
data = [2, 4, 3, 1, 5, 10, 9]

data.reverse()

print(data)

[9, 10, 5, 1, 3, 4, 2]