<a href="https://colab.research.google.com/github/harrymarry1027/python/blob/main/%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플
- Tuple은 리스트와 유사하게 데이터 여러개를 하나로 묶는데 이용.
- 튜플의 항목은 숫자, 문자열,불, 리스트, 튜플,세트,딕셔너리 등으로 만들수 있음
- 튜플의 속성은 리스트와 유사
- 튜플데이터는 한번 입력하면 그 이후에 항목을 변경할수 없다

```
튜플은 () 소괄호를 사용, 혹은 사용하지 않음
```

In [2]:
list1 = ('토마토','깻잎','키위','딸기')

In [3]:
list1

('토마토', '깻잎', '키위', '딸기')

In [4]:
type(list1)

tuple

In [5]:
list1[1]

'깻잎'

In [7]:
list1[1:3]

('깻잎', '키위')

In [8]:
# 소괄호를 사용하지 않는것 

list1 = '토마토','깻잎','키위','딸기'

list1

('토마토', '깻잎', '키위', '딸기')

In [9]:
type(list1)

tuple

In [10]:
# 인자가 하나만 있는 튜플을 생성하는 방법
# 항목을 하나만 갖는 튜플을 생성할때는 항목을 입력한 후에 반드시 콤마(,)를 입력

list1=(9,)

In [11]:
list1

(9,)

In [12]:
type(list1)

tuple

In [13]:
tuple5= (1,2,3,4,5)

tuple5[1] = 6

TypeError: ignored

In [14]:
# 한번 생성된 튜플의 요소는 변경되지 않음 

del tuple5[3] # 한번 생성된 튜플의 요소는 삭제 되지 않음

TypeError: ignored

- 튜플의 요소를 변경하거나 삭제하는 메서드는 튜플에서 이용할수 없다
- 그러나, 요소를 변경하지 않는 index, count는 사용할수 있다

```
index : 인자와 일치하는 첫번째 항목의 위치를 반환하고 
count : 인자와 일치하는 항목의 개수를 반화

In [15]:
tuple6 = ('a','b','c','d','e','f')

In [16]:
tuple6.index('c')

2

In [17]:
tuple7 = ('a','a','a','b','c','d','e','f')

tuple7.count('a')

3

In [26]:
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')

t[0] = 'A'

TypeError: ignored

In [52]:
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

date = list(interest)

print(date)

['삼성전자', 'LG전자', 'SK Hynix']

In [54]:
#다음 리스트를 튜플로 변경하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

date = tuple(interest)

print(date)

('삼성전자', 'LG전자', 'SK Hynix')

In [56]:
#다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#('apple', 'banana', 'cake')

apple banana cake